nav.minecraft-nav
    .nav-container
        .minecraft-logo
            img(src="/img/minecraft-logo.png", alt="Minecraft Logo")
            h1 #{datos.nombre}
        
        ul.minecraft-menu
            li
                a(href="/") Inicio
            li
                a(href="/about") Sobre mí
            li
                a(href="/cv") CV
            li
                a(href="/projects") Proyectos
            li
                a(href="/contact") Contacto