extends layouts/main.pug

block content
  main.minecraft-main.about-page
    section.minecraft-section
      h2.minecraft-title(style="color: #ff5555") Sobre Angel Riquelme
      .minecraft-box
        p.texto-centrado Soy Angel Riquelme estudiante técnico de Analista Programador en Santo Tomás (2024).
        p.texto-centrado Egresado del Liceo Gracia y Paz en 2023.

        h3.minecraft-subtitle Actitudes
        .minecraft-grid
          .minecraft-card 
            h4 Comunicacion efectiva
            p Capacidad para transmitir ideas de manra clara y precisa al igual que tener una escucha activa 
          .minecraft-card
            h4 Responsable
            p Compromiso a la hora de trabajar sobre todo en equipo para no atrasar a mis compañeros
          .minecraft-card
            h4 Trabajo en equipo
            p En mis estudios y proyectos estoy acostumbrado a los trabajos en equipo