extends layouts/main.pug

block content
  main.minecraft-main.about-page
    section.minecraft-section
      h2.minecraft-title(style="color: #ff5555") Sobre Angel Riquelme
      .minecraft-box
        p Soy Angel Riquelme estudiante técnico de Analista Programador en Santo Tomás (2024).
        p Egresado del Liceo Gracia y Paz en 2023 fangirl del Minecraft.

        h3.minecraft-subtitle Habilidades Técnicas
        ul.minecraft-list
          each habilidad in datos.habilidades
            li= habilidad

        h3.minecraft-subtitle Actitudes
        .minecraft-grid
          .minecraft-card 
            h4 Creativo
            p Como cuando construyo en Minecraft igual al DIOS VEGETTA777
          .minecraft-card
            h4 Analítico
            p Como resolver problemas con la pta redston
          .minecraft-card
            h4 Trabajo en equipo
            p Como en los servidores pibito